<div class="black-bg">
<div id="landing-banner">
	<div class="container">
		<h1 class="logo-font">TuneRoom</h1>
		<!-- <h3 class="slogan">Party playlists with friends.</h3> -->
	</div>
</div>
</div>

<div class="container">
	<h1 class="text-center">What we do?</h1>
</div>