<div class="bg">
<div class="container">
	<h1 class="page-header sigmar"><%= @room.name %></h1>
	<div class="row">
		<div id="queue_col" class="col-md-4 col-xs-12">
			<h2 class="text-center col-title">Queue</h2>
			<div class="queue-pane">
				<%= render "songs_partial", :songs => @queue, :queue => true %>
			</div>
		</div>
		<div id="library_col" class="col-md-4 col-xs-12">
			<h2 class="text-center col-title">Library</h2>
			<div class="input-group">
				<input id="library-query" type="text" class="form-control">
				<span class="input-group-btn">
					<button id="library-search-button" class="btn btn-primary" type="button">Search</button>
				</span>
			</div><!-- /input-group -->
			<div class="library-pane">
				<%= render "songs_partial", :songs => @library, :queue => false%>
			</div>
		</div>
		<div id="youtube_col" class="col-md-4 col-xs-12">
			<h2 class="text-center col-title">Youtube</h2>
			<div class="input-group">
				<input id="query" type="text" class="form-control">
				<span class="input-group-btn">
					<button id="search-button" class="btn btn-primary" type="button" disabled="true">Search Youtube</button>
				</span>
			</div><!-- /input-group -->
			<div id="search-pane">
			</div>
		</div>
	</div>
	<!--<%= link_to "What", :controller => 'rooms', :action => 'send_mp3', :filename => 'what.mp3' %>-->
	<div id="response"></div>
</div>
</div>

    <script>
		// Your use of the YouTube API must comply with the Terms of Service:
		// https://developers.google.com/youtube/terms

		// Called automatically when JavaScript client library is loaded.
		function onClientLoad() {
		    gapi.client.load('youtube', 'v3', onYouTubeApiLoad);
		}

		// Called automatically when YouTube API interface is loaded (see line 9).
		function onYouTubeApiLoad() {
		    // This API key is intended for use only in this lesson.
		    // See http://goo.gl/PdPA1 to get a key for your own applications.
		    var x = gapi.client.setApiKey('AIzaSyBmtjW6gyw2u5cCWS9xovrbFFzxxbJeinM');

			$("#search-button").attr("disabled", false);
		}
    </script>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad"></script>
