<div id="room">
	<div id="container">
		<h2 id="title"><%= @room.title %></h2>
		<div id="songList">
			<div class="Song">
				<span class="SongTitle">Cancion 1</span>
				<span class="SongArtist">Artista</span>
				<span class="UpDownButtons">
					<span class="fa-angle-up"></span>
					
					<span class="fa-angle-down"></span>
				</span>
			</div>
		</div>
	</div>
</div>