<div class="container">
	<h2 id="title" class="page-header"><%= @room.name %></h2>
	<div id="songList">
		<div class="Song">
			<span class="SongTitle">Cancion 1</span>
			<span class="SongArtist">Artista</span>
			<span class="UpDownButtons">
				<i class="fa fa-angle-up"></i>
				
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>
	<%= link_to "What", :controller => 'rooms', :action => 'send_mp3', :filename => 'what.mp3' %>

</div>