#youtube_col .input-group {
	margin: 20px;
}

#youtube_col .yt_result {
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 10px;
}

#youtube_col .yt_result img {
	height: 60px;
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}