#not_found img {
	border: 2px solid black;
	border-radius: 3px;
	height: 300px;
	margin-top: 20px;
}

.page-header {
	margin: 20px 0 !important;
}

.col-title {
	margin-top: 0;
	font-weight: bold;
}

.sigmar {
	font-family: 'Sigmar One', sans;
}

.input-group {
	margin-bottom: 20px;
}

/*SONG CSS*/
.song {
	border-radius: 5px;
	border: 2px solid #ddd;
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}
.song-pane {
	max-height: 400px;
	overflow-y: scroll;
}
.song .thumbnail {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
}
.song .thumbnail img {
	height: 50px;
}
.song .lead {
	font-size: 36px;
}
.song p {
	margin-bottom: 0;
}
.song .active {
	background: #222;
	color: white;
}
.song .active p {
	font-weight: bold;
}

.popularity {
	height: 35px;
	width: 20px;
	font-size: 15px;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
}
.title {
	font-size: 15px;
	margin-bottom: 5px;
}
.queue-pane {
	max-height: 445px;
	overflow-y: scroll;
}

.selected {
	background-color: #32a2cc;
}

.song button {
	padding: 4px 8px 2px 9px;
	font-size: 18px;
}