* {
	font-family: helvetica;
}
body {
	/*background-color: #0d77ed;*/
	background: #050505 !important;
	color: white !important;
	height: 1000px;
}

/*#navbar {
	width: 100%;
	text-align: center;
	font-size: 30px;
	line-height: 45px;
	vertical-align: middle;
	height: 45px;
	color: black;
	background-color: white;
}*/